.mainbody {
  position: absolute;
  top: 100px; /* Header Height */
  width: 100%;
  height: 110%;
  background-color: rgb(209, 207, 207);
  overflow-y: scroll;
}

.mainbody h2 {
  padding: 10px;
  text-align: center;
}

.mainbody p {
  padding: 10px;
  text-align: center;
}

.mainbody Button {
  position: abosolute;
  height: 100px;
  padding-right: 5px;
  text-align: center;
  margin-right: 20px;
}
