@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* base styles */
* {
  margin: 0;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  color: rgb(0, 0, 0);
}

.gheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  color: #fff;
  padding: 10px 20px;
}

.logo-list-container {
  display: flex;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navigation-list > li ul {
  padding-inline-start: 5px;
}

.navigation-list > li a {
  margin-right: 10px;
  color: #cdd9e5 !important;
  text-decoration: none;
}

.navigation-list > li:last-child {
  margin-right: 0;
}

.navigation-list > li:hover a {
  color: #fff !important;
}

.login-container a {
  margin-left: auto;
  color: #fdf9e5 !important;
}
