.mainbody {
  position: fixed;
  top: 100px;
  bottom: auto;
  width: 100%;
  background-color: rgb(209, 207, 207);
}

.mainbody h2 {
  padding: 20px;
  text-align: center;
}

.mainbody p {
  padding: 10px;
  text-align: center;
}
