.mainbody {
  position: fixed;
  top: 100px;
  bottom: auto;
  width: 100%;
  background-color: rgb(209, 207, 207);
}

.mainbody h2 {
  padding: 10px;
  text-align: center;
}

.mainbody p {
  margin-top: 5px;
  position: relative;
  padding: 15px;
  bottom: 10px;
  text-align: center;
}
.mainbody Button {
  margin-right: 5px;
  text-align: center;
}
