.mainbody {
  position: fixed;
  top: 140px; /* Header Height */
  width: 100%;
  background-color: rgb(209, 207, 207);
}

.mainbody h2 {
  padding: 70px;
  text-align: center;
}

.mainbody p {
  padding: 20px;
  text-align: center;
}

.mainbody a {
  padding: 5px;
  display: inline;
}
