.mainbody {
  position: absolute;
  top: 100px; /* Header Height */
  width: 100%;
  height: 100%;
  background-color: rgb(209, 207, 207);
}

.mainbody p {
  padding: 20px;
  text-align: center;
}
.mainbody form {
  padding: 2px;
  margin-bottom: 2px;
  text-align: center;
}
.mainbody Button {
  position: abosolute;
  text-align: center;
  margin-right: 15px;
}
