.mainbody {
  position: absolute;
  top: 100px; /* Header Height */
  width: 100%;
  height: 100%;
  background-color: rgb(209, 207, 207);
  bottom: 10px;
  overflow-y: scroll;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.mainbody Button {
  margin-right: 5px;
}
.mainbody h3 {
  text-align: center;
}
