.mainbody {
  position: absolute;
  top: 100px; /* Header Height */
  width: 100%;
  height: 100%;
  background-color: rgb(209, 207, 207);
  bottom: 10px;
  overflow-y: scroll;
}

.mainbody h3 {
  padding: 10px;
  text-align: center;
}
