.mainbody {
  position: absolute;
  top: 100px; /* Header Height */
  width: 100%;
  height: 130%;
  background-color: rgb(209, 207, 207);
  bottom: 10px;
}

.mainbody h2 {
  padding: 10px;
  text-align: center;
}

.mainbody p {
  text-align: center;
}
.mainbody > p dropdown-menu {
  text-align: center;
  height: 100%;
}
.mainbody carousel-container {
  max-width: auto;
}
.mainbody carousel-item {
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
